
 <section id=" errors-page" >
      <div class="error-page">
        <div>
            <img src="Images/illustration.png" width="922" height="1018" alt="">
        </div>
        <div class="get-tt">
            <h1>Looks Like Here</br>
                <pre>  Is Nothing 
         </h1>
                <p>Don’t be fret. We are here.p>
        </div>
      </div>
        
  </section>

     <!-- andra section -->
 <section id="Fyardeshowcase">
     <div class="column">
         <div class="content">
             <div class="OmniVus">
                 <h1>OmniVus</h1>
                     <p >The web has changed a lot since we posted our <br/> 
                         first article back in 2007. The team at Mattin-<br/>
                         Lassi Group has changed too, as have the <br/>
                         things that we bring to our community<br/> 
                         conferences, books, and our membership <br/>
                         added to the online magazine. 
                         <p>
                         One thing that hasn’t changed is that we’re a<br/>
                          small team — with most of us not working
                         </p>
             </div>
                 <div class="p-c">
                     <img src="Images/bg.png" width="750" height="750">
                     
                 </div>            
         </div>
     </div>
     <div class="column">
         <div class="working">
             <h1>Working Hours</h1>
                 <p>Monday - Friday: 7:00 - 17:00<br/>
                     Saturday: 7:00 - 12:00<br/>
                     Sunday and holidays: 8:00 - 10:00<br/>
                 </p>
                 <p>For more then 15 years, IT Service has been a <br/> 
                     reliable partner in the field of logistics and <br/>
                     cargo forwarding.</p>
         </div> 
         <img class="showcase-images" src="images/Group 19.png">
     </div>
     
 </section>
