 <div class="bg-blue-gradient">
        <div class="container">
            <!-- header -->
            <div class="header-grid">
                <div id="branding">
                    <h1>OmniVus.</h1>
                    <p>IT Service & Technology</p>
                </div>
                <nav id="top-menu">
                    <a href="mailto:info@domain.com">info@domain.com</a>
                    <div class="social">
                        <a href="https://facebook.com">facebook</a>
                        <a href="https://twitter.com">twitter</a>
                        <a href="https://linkedin.com">linkedin</a>
                        <a href="https://youtube.com">youtube</a>
                    </div>
                </nav>
                <nav id="main-menu">
                    <div class="menu-items">
                        <a asp-controller="Home"asp-action="Index">Home</a>
                        <a asp-controller="Services"asp-action="Index">Services</a>
                        <a asp-controller="Contact"asp-action="Index">Contact</a>
                    </div>
                    <a asp-controller="Contact"asp-action="BookMeeting"class="btn btn-main">Book a Meeting</a>
                </nav>
            </div>

            <!-- showcase -->
            <section id="showcase">
                <div class="column">
                    <div class="content">
                        <p>Promote any product, service or online course.</p>
                        <h1>Get every it Services Here</h1>
                        <div class="items">
                            <div class="item">
                                <img src="images/Group 15.png" alt="">
                                <span>IT Product</span>
                            </div>
                            <div class="item">
                                <img src="images/Group 14.png" alt="">
                                <span>IT Services</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <img class="showcase-image" src="images/Group 13.png" alt="">
                </div>
            </section>

        </div>
    </div>
     <!-- andra section -->
    <section id="AboutUs">
        
            <div class="column b-image">
                <img src="Images/Group 16.png">
        </div>
        <div class="cloumn b-cloumn">
            <div class="content">
            
              <div class="midel-text">
                <p class="but"> Abut Us-</p>
                <h1 class="you">You can't use up <br />creativity.</h1>
                <small class="does">Does any industry face a more complex audience journey and marketing sales <br />
                     process than B2B technology? Consider the number of people who influence<br />
                     a sale, the length of the decision-making cycle, the competing interests of the<br />
                      people who purchase, implement, manage, and use the technology. It’s a lot<br /> 
                      meaningful content here.
                </small>
              </div>
             <div class="d-flex years " >
                 <p class="number">15</p>
                 <p class="year ">Years Of <br /> Experience</p>
             </div>
             <div>
                <a href="#" class="btn btn-lern">Lern More</a>
                <a href="#" class="btn btn-video">video Intro Video</a>
                
            </div>
            </div>
        </div>
        
        
    </section>
 <!--tredje section  -->
    <section id="HOW">
    <div class="cloumn b-cl">
        <div class="content">
        
          <div class="midel-text">
            
            <h1 class="Howwe">How we growth <br />
                our business..</h1>
                <p class="The">The introduction of cloud and mobile technologies <br />
                    into enterprise software.
                </p>

            <small class="hether">hether you are building an enterprise web portal or a state-of-the-art<br /> 
                 website, you always need the right modern tools. Well-built and <br /> 
                 maintained .NET frameworks provide those tools in abundance, allowing<br /> 
                  maintained .NET frameworks provide those tools in abundance, allowing<br /> 
                   developers to save time, re-use code, and streamline the back end. As <br /> 
                   software development tools continuously.
            </small>
          </div>
         <div>
            <a href="#" class="btn btn-lernmore">Lern More</a>
        </div>
        </div>
    </div>
    <div class="column b-images">
        
            <img src="Images/Group 17.png">
  </div>  
</section>
 <!-- fyarde section -->
 <form class="was-validated" id="form">
    <div class="content b-form">
        <div class="mb-3">
            <div class="book">
                <h1>Book a Meeting</h1>
                <p> Does any industry face a more complex audience journey and <br/>
                    marketing sales process than B2B technology. </p>
            </div>
            <div class="row g-2">
                <div class="col-md">
                  <div class="form-floating">
                    <input  class="form-control is-invalid"value="" required> 
                    <label class="label" for="floatingInputGrid">Enter your name</label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="email" class="form-control is-invalid" value="" required >
                    <label class="label" for="floatingInputGrid"> Enter your Email </label>
                     
                  </div>
                </div>
            </div>
          <div class="mb-3">
            <label for="validationTextarea" class="form-label"></label>
            <textarea class="form-control is-invalid" placeholder="Enter your questions & subject here." required></textarea> </textarea>
          </div>
          <button class="b-tn" type="submit">Book a Meeting Now</button>
        </div>
     </div>
</FORM>

<section id="Fyardeshowcase">
    <div class="column">
        <div class="content">
            <div class="OmniVus">
                <h1>OmniVus</div>
                    <p>The web has changed a lot since we posted our <br/> 
                        first article back in 2007. The team at Mattin-<br/>
                        Lassi Group has changed too, as have the <br/>
                        things that we bring to our community<br/> 
                        conferences, books, and our membership <br/>
                        added to the online magazine. 
                        <p>
                        One thing that hasn’t changed is that we’re a<br/>
                         small team — with most of us not working
                        </p>
            </div>
                <div class="p-c">
                    <img src="Images/bg.png" width="750" height="750">
                    
                </div>            
        </div>
    </div>
    <div class="column">
        <div class="working">
            <h1>Working Hours</h1>
                <p>Monday - Friday: 7:00 - 17:00<br/>
                    Saturday: 7:00 - 12:00<br/>
                    Sunday and holidays: 8:00 - 10:00<br/>
                </p>
                <p>For more then 15 years, IT Service has been a <br/> 
                    reliable partner in the field of logistics and <br/>
                    cargo forwarding.</p>
        </div>
        
        
        
        <img class="showcase-images" src="images/Group 19.png">
    </div>
    
</section>
